.chatbox {
	position: fixed;
	position:expression("absolute");
	width: 275px;
	display:none;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
	z-index: 200;
	border:0 none;;
}

.chatboxhead {
	background-color: #4a3520;
	padding:0px;
	color: #ffffff;

	border-right:1px solid #B39985;
	border-left:1px solid #B39985;
	outline: 0;
}

.chatboxblink {
	background-color: #61AB23;
	border-right:1px solid #61AB23;
	border-left:1px solid #61AB23;
}
.chatboxmessagecontent a
{
	color:#4A3520;
	text-decoration: none;
}
.chatboxmessagecontent a:hover
{
	color:#4A3520;
	text-decoration: underline;
}
.chatboxcontent {
	font-size: 13px;
	color: #333333;
	height:250px;
	width:259px;
	overflow-y:auto;
	overflow-x:auto;
	padding:7px;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #eeeeee;
	background-color: #ffffff;
	overflow-x: hidden;
}

.chatboxinput {
	padding: 5px;
	background-color: #ffffff;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	height:50px;
}

.chatboxtextarea {
	width: 255px;
	height:44px;
	padding:3px 0pt 3px 3px;
	border: 1px solid #eeeeee;
	margin: 1px;
	overflow:hidden;
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	
	position:absolute;
	bottom:4px;
}

.chatboxtextareaselected {
	border: 2px solid #61AB23;
	margin:0px;
}
.chatclosed
{
	
}
.chatboxmessage {
	margin-left:1em;
	border-bottom: 1px solid #FFFFFE;
    padding: 5px 0;
}

.chatboxinfo {
	margin-left:-1em;
	color:#4a3520;
	font-size:12px;
}

.chatboxmessagefrom {
	margin:-5px -5px 0px -15px;
	font-weight: bold;
	display:block;
	float:left;
	width:45px;
	height:35px;
}
.chatboxmessagefrom .photo
{
	display:block;
	margin-right:4px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.chatboxmessagefrom .photo img
{
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.chatboxmessagecontent {
	background: none repeat scroll 0 0 #f5f5b5;
    border-radius: 6px;
    color: #4a3520;
    display: block;
    font-size: 12px;
    line-height: 1.28;
    padding: 5px;
    width: 221px;
}

.chatboxoptions {
	float: right;
}

.chatboxoptions a {
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	margin:5px 5px 0 0;
	outline: 0;
	
	background-color: #5ab946;
    color: white;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    height: 16px;
    margin: 5px 5px 0 0;
    outline: 0 none;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    width: 16px;
	
}
.chatboxoptions a:hover
{
	background-color:#74D360;
}
.chatboxtitle {
	padding:7px;
    color: #FFFFFF;
    display: block;
    float: left;
    text-decoration: none;
    width: 230px;
    text-decoration: none;
    font-size:13px;
    font-weight:bold;
    outline: 0;
}
.chatboxtitle i
{
	margin-right:3px;
	position:relative;
	top:-1px;
}
.chatboxtitle, .chatboxtitle:hover, .chatboxtitle:active, .chatboxtitle:focus {
    outline: 0 !important;
}
.chatboxtitle:hover {
	text-decoration: none;
	color: #FFFFFF;
}