{% set swapMsg = 'Welcher Bezirk soll neu angelegt werden?' %}

<div style="display: none;">
    <div id="becomeBezirk">
        <div class="popbox">
            <h3>Wähle den Bezirk aus, in dem Du aktiv werden möchtest!</h3>
            <p class="subtitle">
                Es besteht auch die Möglichkeit, einen neuen Bezirk zu gründen. Wähle bitte dennoch den entsprechenden
                übergeordneten Bezirk (Land, Bundesland, Stadt etc.) aus!
            </p>

            {% set id = 'becomeBezirkChooser' | id %}

            <div style="height:260px;">

                {% include 'partials/bezirkChildChooser.twig' with { id: id } %}

                <span id="{{ id }}-btna">Gesuchter Bezirk ist nicht dabei</span>
                <div class="middle" id="{{ id }}-notAvail">
                    <h3>Deine Stadt oder Region ist nicht dabei?</h3>
                    {% include 'partials/swapText.twig' with { id: "#{id}-neu", value: swapMsg } %}
                </div>
            </div>
            <p class="bottom">
                <span id="{{ id }}-button">Speichern</span>
            </p>
        </div>
    </div>
    <a id="becomeBezirk-link" href="#becomeBezirk">&nbsp;</a>
</div>
