{% set swapMsg = 'Welcher Bezirk soll neu angelegt werden?' %}

<div style="display: none;">
    <div id="becomeBezirk">
        <div class="popbox">
            <h3>Wähle den Bezirk aus, in dem Du aktiv werden möchtest!</h3>
            <p class="subtitle">
                Solltest Du keinen Bezirk für Dich finden, wähle ein Level höher oder tritt dem nächstgelegenen Bezirk bei und wende Dich dort an die Botschafter.
                Wenn Du vor hast, selbst als Botschafter_in Verantwortung für einen neuen Bezirk übernehmen zu wollen, dann wende Dich an welcome(at)lebensmittelretten.de.
            </p>

            {% set id = 'becomebezirkchooser' %}

            <div style="height:260px;">

                {% include 'partials/bezirkChildChooser.twig' with { id: id } %}

            </div>
            <p class="bottom">
                <span id="{{ id }}-button">Speichern</span>
            </p>
        </div>
    </div>
    <a id="becomeBezirk-link" href="#becomeBezirk">&nbsp;</a>
</div>
