{% set swapMsg = 'Welcher Bezirk soll neu angelegt werden?' %}

<div style="display: none;">
    <div id="becomeBezirk">
        <div class="popbox">
            <h3>Wähle den Bezirk aus, in dem Du aktiv werden möchtest!</h3>
            <p class="subtitle">
                Solltest Du keinen Bezirk für Dich finden, wähle ein Level höher oder tritt dem nächstgelegenen Bezirk bei.<br>
                Solltest du keine Möglichkeit haben, Dich in der Umgebung zum Foodsaver ausbilden zu lassen, dann kannst Du Dir überlegen einen eigenen Bezirk zu starten.<br>
                Lies Dir in diesem Fall bitte die Wiki-Dokumente (hinter dem 'i' zu finden) gut durch! Wenn Du den Bezirk starten möchtest oder explizite Fragen hast, die das Wiki nicht beantwortet, schreib uns eine Mail an <a href="mailto:welcome@foodsharing.network">welcome@foodsharing.network</a>.
            </p>

            {% set id = 'becomebezirkchooser' %}

            <div style="height:260px;">

                {% include 'partials/bezirkChildChooser.twig' with { id: id } %}

            </div>
            <p class="bottom">
                <span id="{{ id }}-button">Speichern</span>
            </p>
        </div>
    </div>
    <a id="becomeBezirk-link" href="#becomeBezirk">&nbsp;</a>
</div>
