<div id="top-banner-pushnotifications" class="content-top corner-all top-banner-pushnotifications" style="display: none;">
    <div class="top-banner-flex-container">
        <svg
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                class="pushnotifications-icon"
                width="100px"
                height="35px"
                viewBox="0 0 200 70"
                style="isolation:isolate">
            <path d="M 6.389 11.422 L 192.413 11.422 C 193.348 11.422 194.107 12.181 194.107 13.116 L 194.107 58.128 C 194.107 59.063 193.348 59.822 192.413 59.822 L 6.389 59.822 C 5.454 59.822 4.695 59.063 4.695 58.128 L 4.695 13.116 C 4.695 12.181 5.454 11.422 6.389 11.422 Z" style="fill:none;stroke-width:3.367446121003513;stroke-miterlimit:2;"/><path d=" M 146.25 11.423 L 146.25 59.823 L 194.108 59.823 L 194.108 11.423 L 146.25 11.423 Z  M 166.071 26.295 C 166.163 26.295 166.254 26.331 166.324 26.401 L 171.501 31.576 C 171.64 31.715 171.868 31.715 172.008 31.576 L 177.185 26.401 C 177.324 26.261 177.552 26.261 177.691 26.401 L 180.354 29.064 C 180.494 29.203 180.494 29.431 180.354 29.571 L 175.179 34.747 C 175.04 34.887 175.04 35.115 175.179 35.254 L 180.354 40.431 C 180.494 40.57 180.494 40.798 180.354 40.938 L 177.691 43.601 C 177.552 43.74 177.324 43.74 177.185 43.601 L 172.008 38.426 C 171.868 38.286 171.64 38.286 171.501 38.426 L 166.324 43.601 C 166.185 43.74 165.957 43.74 165.817 43.601 L 163.154 40.938 C 163.015 40.798 163.015 40.57 163.154 40.431 L 168.33 35.254 C 168.469 35.115 168.469 34.887 168.33 34.747 L 163.154 29.571 C 163.015 29.431 163.015 29.203 163.154 29.064 L 165.817 26.401 C 165.887 26.331 165.979 26.295 166.071 26.295 Z "/><path d="M 55.143 21.376 L 138.518 21.376 C 138.794 21.376 139.018 21.6 139.018 21.876 L 139.018 24.894 C 139.018 25.17 138.794 25.394 138.518 25.394 L 55.143 25.394 C 54.867 25.394 54.643 25.17 54.643 24.894 L 54.643 21.876 C 54.643 21.6 54.867 21.376 55.143 21.376 Z" style="stroke:none;stroke-miterlimit:2;"/><path d="M 55.143 33.342 L 116.821 33.342 C 117.097 33.342 117.321 33.566 117.321 33.842 L 117.321 36.86 C 117.321 37.136 117.097 37.36 116.821 37.36 L 55.143 37.36 C 54.867 37.36 54.643 37.136 54.643 36.86 L 54.643 33.842 C 54.643 33.566 54.867 33.342 55.143 33.342 Z" style="stroke:none;stroke-miterlimit:2;"/><path d="M 55.143 45.617 L 116.821 45.617 C 117.097 45.617 117.321 45.841 117.321 46.117 L 117.321 49.135 C 117.321 49.411 117.097 49.635 116.821 49.635 L 55.143 49.635 C 54.867 49.635 54.643 49.411 54.643 49.135 L 54.643 46.117 C 54.643 45.841 54.867 45.617 55.143 45.617 Z" style="stroke:none;stroke-miterlimit:2;"/><path d=" M 11.561 25.605 L 44.979 25.605 C 45.531 25.605 45.979 26.053 45.979 26.605 L 45.979 39 C 45.979 39.552 45.531 40 44.979 40 L 37.614 40 L 38.15 45.223 L 31.721 40 L 11.561 40 C 11.009 40 10.561 39.552 10.561 39 L 10.561 26.605 C 10.561 26.053 11.009 25.605 11.561 25.605 Z "/>
        </svg>

        <div class="inside">
            <h4>{{ 'push_notifications_banner_heading'|translate }}</h4>
            <p>
                {{ 'push_notifications_banner_text'|translate }}
            </p>
            <a id="button-pushnotifications" class="button" href="#">
                {{ 'push_notifications_activation_button_text'|translate }}
            </a>
        </div>
        <a id="close-top-banner-pushnotifications" href="#"><i class="fas fa-times"></i></a>
    </div>
</div>
