<div id="top-banner-pushnotifications" class="top corner-all" style="display: none;">
    <div class="top-banner-flex-container">
        <!-- Created with Inkscape (https://www.inkscape.org/) -->
        <svg
                class="pushnotifications-icon"
                width="100px"
                height="35px"
                viewBox="0 0 70.555555 24.694444"
                >
            <g
                    id="layer1"
                    transform="translate(0,-272.30556)">
                <rect
                        style="opacity:1;fill:none;fill-opacity:1;stroke-width:1.18796015;stroke-linecap:butt;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        id="rect815"
                        width="66.820587"
                        height="17.074383"
                        x="1.6562207"
                        y="276.33508" />
                <path
                        style="opacity:1;fill-opacity:1;stroke:none;stroke-width:1.04098558;stroke-linecap:butt;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="m 51.593748,276.33524 v 17.07441 h 16.883209 v -17.07441 z m 6.992337,5.24671 c 0.03244,0 0.0648,0.0126 0.0894,0.0372 l 1.826247,1.82572 c 0.04921,0.0492 0.129591,0.0492 0.1788,0 l 1.826245,-1.82572 c 0.04921,-0.0492 0.12959,-0.0492 0.178802,0 l 0.939478,0.93947 c 0.04922,0.0492 0.04922,0.1296 0,0.1788 l -1.825729,1.82625 c -0.04921,0.0492 -0.04921,0.1296 0,0.1788 l 1.825729,1.82625 c 0.04922,0.0492 0.04922,0.1296 0,0.1788 l -0.939478,0.93947 c -0.04921,0.0492 -0.129593,0.0492 -0.178802,0 l -1.826245,-1.82573 c -0.04921,-0.0492 -0.12959,-0.0492 -0.1788,0 l -1.826247,1.82573 c -0.04921,0.0492 -0.12959,0.0492 -0.1788,0 l -0.939477,-0.93947 c -0.04921,-0.0492 -0.04921,-0.12961 0,-0.1788 l 1.825728,-1.82625 c 0.04921,-0.0492 0.04921,-0.1296 0,-0.1788 l -1.825728,-1.82625 c -0.04921,-0.0492 -0.04921,-0.1296 0,-0.1788 l 0.939477,-0.93947 c 0.02461,-0.0246 0.05696,-0.0372 0.0894,-0.0372 z"
                        id="rect817" />
                <rect
                        style="opacity:1;fill-opacity:1;stroke:none;stroke-width:1.05187905;stroke-linecap:butt;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        id="rect819"
                        width="29.765627"
                        height="1.4174107"
                        x="19.276785"
                        y="279.84656" />
                <rect
                        style="opacity:1;fill-opacity:1;stroke:none;stroke-width:0.90660572;stroke-linecap:butt;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        id="rect819-3"
                        width="22.111607"
                        height="1.4174107"
                        x="19.276785"
                        y="284.06778" />
                <rect
                        style="opacity:1;fill-opacity:1;stroke:none;stroke-width:0.90660572;stroke-linecap:butt;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        id="rect819-3-6"
                        width="22.111607"
                        height="1.4174107"
                        x="19.276785"
                        y="288.39828" />
                <path
                        style="opacity:1;fill-opacity:1;stroke:none;stroke-width:1.07500005;stroke-linecap:butt;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="M 3.7255581,281.33855 H 16.220409 v 5.07812 H 14.88281 l 0.188988,1.84263 -2.267857,-1.84263 H 3.7255581 Z"
                        id="rect857" />
            </g>
        </svg>

        <div class="inside">
            <h4>Du kannst jetzt Push-Benachrichtigungen von Foodsharing empfangen.</h4>
            <p>Wenn du keine Push-Benachrichtigungen mehr empfangen willst, kannst du sie jederzeit in den Einstellungen wieder
                deaktivieren.
            </p>
            <div id="button-pushnotifications" class="button">
                Push-Benachrichtigungen aktivieren
            </div>
        </div>
        <a id="close-top-banner-pushnotifications" href="#"><i class="fas fa-times"></i></a>
    </div>
</div>
