<div 
    class="vue-wrapper"
    data-element="{{ elementName }}"
    data-props="{{ props|json_encode }}"
    {% if initialData is defined %}data-initial-data="{{ initialData|json_encode }}"{% endif %}
>
</div>