/* FOOD BASKET DETAILS PAGE /essenskoerbe/{basketId} */
.fbasket-wrap {
    display: flex;
}

.fbasket-wrap .fbasket-pic,
.fbasket-wrap .fbasket-desc {
    flex: 1 1 auto;
    max-width: 50%;
    padding: 0 10px;
}

@media screen and (max-width: 499px) {
    .fbasket-wrap {
        flex-wrap: wrap;
    }
    .fbasket-wrap .fbasket-pic,
    .fbasket-wrap .fbasket-desc {
        flex-basis: 100%;
        max-width: 100%;
    }
}

.basket-img {
  width: calc(100% - 8px);
  margin: 10px 0;
  border-radius: 6px;
  background-color: #ffffff;
  border: 1px solid var(--border);
}

.fbasket-desc {
  overflow-wrap: break-word;
}

.findmap .vmap {
  height: 400px;
}

div.ui-dialog textarea {
  width: 98%;
}
