# relaxed fsync mysql config, use for testing only
#
# this is the contents of these files from mariadb:10.3.15 config
#   /etc/mysql/my.cnf
#   /etc/mysql/conf.d/*.cnf
#
# but with same changes from here:
#   http://www.tocker.ca/2013/11/04/reducing-mysql-durability-for-testing.html
# to speed up execution for tests


[client]
default-character-set = utf8mb4

[mysqld]
datadir = /tmp/mysql # storing data on a tmpfs (=in ram) increases the speed
sql_mode = "" # disable STRICT_TRANS_TABLES, which leads to multiple errors like "Field x doesn't have a default value"

# set db to use utf8mb4
collation-server=utf8mb4_unicode_ci
character-set-server=utf8mb4
character-set-client-handshake = FALSE

# http://www.tocker.ca/2013/11/04/reducing-mysql-durability-for-testing.html
# adopted to mariadb
skip-log-bin
sync_frm=FALSE
innodb-flush-log-at-trx-commit=0
innodb-doublewrite=0
innodb_checksum_algorithm=NONE

[mysql]
default-character-set = utf8mb4

