root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[{*.yaml,*.yml}]
insert_final_newline = false

[*.php]
indent_style = tab

[{*.css,*.js,*.sh,*.vue,*.neon}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[lib/**]
indent_style = unset
indent_size = unset
end_of_line = unset
trim_trailing_whitespace = unset
charset = unset
insert_final_newline = unset
