*~
am_cache
.idea
*.swp
*.swo
node_modules
data/**
/data/logg.txt
**/menus/
**/images/
js/gen/script.js
css/gen/style.css
config.inc.php
cache/**
tmp/**
vendor/**
deployer/vendor/**
tests/_output/*vendor
tests/_support/_generated/
.composer
chat/.npm
api/**
light/**
.php_cs.cache
.php_cs_cache_local
revision.inc.php
migrations/_*
.vagrant
.DS_Store
.vscode
.views-cache
js/gen/webpack
assets
