*~
am_cache
.idea
*.swp
*.swo
node_modules
**/data/
/data/logg.txt
**/menus/
**/images/
js/gen/script.js
css/gen/style.css
config.inc.php
cache
tmp
vendor
tests/_output/*vendor
tests/_support/_generated/
.composer
chat/.npm
api
light
