<section class="section section--{{ color }} bootstrap">
  <div class="container">
    <div class="row carpet-roll">
      <div class="col">
      {% block first %}{% endblock %}
      </div>
      <div class="col">
      {% block second %}{% endblock %}
      </div>
    </div>
  </div>
</section>
