div.post_body {
  float: left;
  margin-top: 7px;
  margin-bottom: 7px;
  width: 75%;
}

div.post textarea {
  height: 165px;
}

/* food share point list */
ul.food-share-point-list li a span.image {
  display: block;
  width: 60px;
  height: 60px;
  float: left;
  margin-right: 10px;
  background-position: center;
  background-repeat: no-repeat;
}

ul.food-share-point-list li a span.image.noimage {
  background-color: #ffffff;
}

ul.food-share-point-list li a span.clear {
  display: block;
  clear: both;
}

.event .welcome_profile_name {
  margin-left: 82px !important;
}

div.event {
  min-height: 70px;
}

.calendar {
  display: block;
  float: left;
  height: 70px;
  margin: 0 20px 0 0;
  padding: 0;
  width: 70px;
}

.calendar .month {
  background-color: #4d7216;
  border: 1px solid #2b400c;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: #ffffff;
  display: block;
  font-size: 13px;
  font-weight: bold;
  height: 23px;
  line-height: 23px;
  margin: 0;
  padding: 0;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

.calendar .day {
  background-color: #eae2cb;
  border-bottom: 1px solid #bba595;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-left: 1px solid #bba595;
  border-right: 1px solid #bba595;
  color: #2f291e;
  display: block;
  font-size: 17px;
  font-weight: bold;
  height: 44px;
  line-height: 42px;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* TODO move me to MemberList.vue */
.user_pic_width {
  width: 50px;
}
