<p>{ANREDE} {NAME},</p>
<p>{SENDER} hat Deinen Essenskorb angefragt.</p>
<p>Gehe auf den folgendem Link, um die Anfrage zu bearbeiten.<br /> Dein foodsharing-Team</p>
<p></p>

<p>{MESSAGE}</p>
<p><a href="{LINK}" target="_blank" class="button">Antworten</a></p>
<p></p>
