<p>{ANREDE} {NAME}, </p>
<p></p>
<p>{POSTER} hat ein neues Thema im Forum gepostet.</p>
<p></p>
<div class="border">
<p><a href="{LINK}" target="_blank">{THREAD}</a></p>
<p>{POST}</p>
<p><a href="{LINK}" target="_blank" class="button">Einloggen zum Antworten</a></p>
<p></p>
</div>
<p>Alles Liebe, <br />Dein foodsharing-Team</p>
