<p>{ANREDE} {NAME},</p>
<p>Klicke auf den folgenden Link um Dein Passwort auf foodsharing.de zu &auml;ndern:</p>
<p></p>
<p><a href="{LINK}" target="_blank">{LINK} </a></p>
<p></p>
<p>Alles Liebe, Dein Foodsharing Team.</p>
