<p>{ANREDE} {NAME}, </p>
<p></p>
<p>Du hast Dich seid 14 Tagen nciht mehr angemeldet, wir gehen davon aus das Du im Urlaub oder sonstwo unterwegs bist. Damit alle bescheid wissen bekommst du in 14 weiteren Tage eine Schlafm&uuml;tze.</p>
<p>Solltest DU dich innerhalb der n&auml;chsten 14 Tage noch einmal einloggen ist nat&uuml;rlich wieder alles beim alten.</p>
<p></p>
<p>Alles liebe, </p>
<p>Dein foodsharing Team</p>
