<p>{{ ANREDE }} {{ NAME }}, </p>
<p></p>
<p>Du bist verantwortlich f&uuml;r <a href="{{ LINK }}" target="_blank">{{ BETRIEB }}</a>. Leider hat sich f&uuml;r den n&auml;chsten Termin noch niemand zum Abholen eingetragen.</p>
<p>Bitte k&uuml;mmere Dich schnellstm&ouml;glich um jemanden aus Deinem Betriebsteam, damit die Abholung stattfinden kann. Solltest Du niemanden mobilisieren k&ouml;nnen, &uuml;bernimmst Du die Abholung.</p>