<p>{{ ANREDE }} {{ NAME }}, </p>
<p></p>
<p>Du bist verantwortlich f&uuml;r <a href="{{ LINK }}" target="_blank">{{ BETRIEB }}</a>. Leider hat sich f&uuml;r den n&auml;chsten Termin noch niemand zum Abholen eingetragen.</p>
<p>Bitte kümmere Dich schnellstmöglich um jemanden aus Deinem Betriebsteam, damit die Abholung stattfinden kann. Solltest du niemanden mobilisieren können, wäre es schön, wenn du die Abholung übernehmen könntest. Sollte dir das nicht möglich sein, dann sage den Termin bitte rechtzeitig beim Betrieb ab.</p>
<p>Info: Diese Benachrichtigung wird aktuell leider nur bei automatischen Abholterminen versendet. Manuell angelegte, überschriebene oder gelöschte Slots werden daher nicht berücksichtigt.</p>
<p>Um diese Funktion zu überarbeiten, benötigen wir die Unterstützung weiterer ProgrammiererInnen, Tester und Helfer aus Deinem Bezirk: <a href="https://devdocs.foodsharing.network/it-tasks.html" target="_blank">https://devdocs.foodsharing.network/it-tasks.html</a> oder <a href="mailto:it@foodsharing.network" target="_blank">it@foodsharing.network</a></p>