<html><head><style type="text/css">a{text-decoration:none;}a:hover{text-decoration:underline;}a.button{display:inline-block;padding:6px 16px;border:1px solid #FFFFFF;background-color:#4A3520;color:#FFFFFF !important;font-weight:bold;border-radius:8px;}a.button:hover{border:1px solid #4A3520;background-color:#ffffff;color:#4A3520 !important;text-decoration:none !important;}.border{padding:10px;border-top:1px solid #4A3520;border-bottom:1px solid #4A3520;background-color:#FFFFFF;}</style></head>
<body style="margin:0;padding:0;">
<div style="background-color:#F1E7C9;border:1px solid #628043;border-top:0px;padding:2%;padding-top:0;margin-top:0px;">

    <table width="100%" style="margin-bottom:10px;margin-top:-2px;">
        <tr>
            <td valign="top" height="30" style="background-color:#4A3520">
                <div style="padding:5px;font-size:13px;font-family:Arial;color:#FAF7E5;overflow:hidden;" align="left">
                    <a style="display:block;color:#FAF7E5;text-decoration:none;" href="https://foodsharing.de/" target="_blank">
                        <span style="margin-left:10px;font-size:20px;font-family:Arial Black, Arial;font-weight:bold;color:#FAF7E5;letter-spacing:-1px;">food</span><span style="margin-right:10px;font-size:20px;font-family:Arial Black, Arial;font-weight:bold;color:#4D971E;letter-spacing:-1px">sharing</span><span style="color:#F36933">.</span>de
                    </a>
                </div>
            </td></tr>
    </table>
    <table height="100%" width="100%">
        <tr>
            <td valign="top" style="background-color:#FAF7E5">
                <div style="padding:5px;font-size:13px;font-family:Arial;padding:15px;color:#31210C;">
                    {{ MESSAGE|raw }}
                    <p></p>
                    <p>{{ 'email_template.withlove'|trans }}</p>
                    <p>{{ 'email_template.yourFSteam'|trans }}</p>
                </div>
            </td>
        </tr>
        {{ UNSUBSCRIBE|raw }}
    </table>
</div>
</body>
</html>