.infos {
  width: 100%;
}

.infos p {
  font-size: 12px;
  letter-spacing: normal;
  margin: 0 0 10px;
}

.verify {
  color: #ffffff;
  font-weight: bold;
  background-color: var(--fs-green);
}

.unverify {
  color: #ffffff;
  font-weight: bold;
  background-color: red;
}

.profile.statdisplay {
  margin: -20px auto 10px auto;
}

@media screen and (min-width: 500px) {
  .profile.statdisplay {
    position: relative;
    top: -50px;
    float: right;
    display: block;
    width: 100%;
    margin: 0 0 -60px 0;
  }
}

.profile.statdisplay .item {
  float: right;
  display: block;
  padding: 0 5px 0 5px;
  margin-right: 8px;
  border-radius: 50%;
  background-color: var(--fs-green);
  text-align: center;
  width: 62px;
}

.profile.statdisplay .item span {
  color: #fafafc;
  letter-spacing: normal;
}

div.statdisplay .item .val {
  font-size: 17px;
  font-weight: bold;
  display: block;
  margin: 14px 0 1px;
}

div.statdisplay .item .name {
  font-size: 11px;
  display: block;
  margin: 0 0 14px 0;
}

div.statdisplay a.item:hover {
  text-decoration: none;
  opacity: 0.8;
}

.stat_bananacount {
  background: url("/img/banana.png") no-repeat center 22px;
}

.stat_bananacount.bouched {
  background-image: url("/img/bananan.png");
}

#bananas {
  max-width: 650px;
  margin: 10px;
}

#bananas a > img {
  width: 50px;
  height: 50px;
  border-radius: 6px;
}

.page .linklist {
  margin-top: 10px;
  margin-bottom: 0;
}

#double {
  display: flex;
  flex-wrap: wrap;
}

#double li {
  width: 33.333333%; /* fallback for older browsers */
  width: calc(100% / 3);
}

#double ul {
  width: 100%;
  border-top: 1px solid var(--border);
}

#double ul li {
  border-bottom: 1px solid var(--border);
}

.disabled {
  pointer-events: none;
  background-color: #858789;
}
