{% extends 'pages/Region/baseRegion.twig' %}

{% block main %}
{% if applications is defined %}
    {% embed 'components/field.twig' with {'title': 'group.applications_for'|trans({'%name%': region.name})} %}
        {% block content %}
            <div class="requests">
                {% for application in applications %}
                <a href="/?page=application&bid={{ region.id }}&fid={{ application.id }}">{{ application.name }}</a><br />
                {% endfor %}
            </div>
        {% endblock %}
    {% endembed %}
{% endif %}
{% endblock %}

