.checkbox {
    margin-left: 8px;
}

.verify, .verify span {
    display: block;
    width: 36px;
    height: 36px;
    margin: 0;
    padding: 0;
}

.verify span {
    background: url(img/verify.png) no-repeat;
}

.verify-n span {
    background-position: 0 0;
}

.verify-y span {
    background-position: 0 -36px;
}

tr.hover td .verify-n span {
    background-position: -36px 0;
}

tr.hover td .verify-y span {
    background-position: -36px -36px;
}

.ui-icon-info {
    margin-bottom: 0 !important;
}
