{% import 'partials/menu.twig' as sidenav %}

{{ sidenav.menu_tree(nav.menu, null, nav.active) }}


{% embed 'components/field.twig' with {'title': (region.isWorkGroup ? 'terminology.admins' : 'terminology.ambassadors')|trans()} %}
    {% block content %}
        {% include 'partials/avatarList.twig' with {'id': 'admin-list', 'entries': region.admins}%}
    {% endblock %}
{% endembed %}

{% if isRegion and region.welcomeAdmins %}
    {% embed 'components/field.twig' with {'title': 'terminology.welcomeAdmins'|trans} %}
        {% block content %}
            {% include 'partials/avatarList.twig' with {'id': 'welcome-list', 'entries': region.welcomeAdmins}%}
        {% endblock %}
    {% endembed %}
{% endif %}

{% if isRegion and region.votingAdmins %}
    {% embed 'components/field.twig' with {'title': 'terminology.votingAdmins'|trans} %}
        {% block content %}
            {% include 'partials/avatarList.twig' with {'id': 'voting-list', 'entries': region.votingAdmins}%}
        {% endblock %}
    {% endembed %}
{% endif %}

{% if isRegion and region.fspAdmins %}
    {% embed 'components/field.twig' with {'title': 'terminology.fspAdmins'|trans} %}
        {% block content %}
            {% include 'partials/avatarList.twig' with {'id': 'fsp-list', 'entries': region.fspAdmins}%}
        {% endblock %}
    {% endembed %}
{% endif %}

{% if isRegion and region.storesAdmins %}
    {% embed 'components/field.twig' with {'title': 'terminology.storesAdmins'|trans} %}
        {% block content %}
            {% include 'partials/avatarList.twig' with {'id': 'stores-list', 'entries': region.storesAdmins}%}
        {% endblock %}
    {% endembed %}
{% endif %}

{% if isRegion and region.reportAdmins %}
    {% embed 'components/field.twig' with {'title': 'terminology.reportAdmins'|trans} %}
        {% block content %}
            {% include 'partials/avatarList.twig' with {'id': 'report-list', 'entries': region.reportAdmins}%}
        {% endblock %}
    {% endembed %}
{% endif %}

{% if isRegion and region.mediationAdmins %}
    {% embed 'components/field.twig' with {'title': 'terminology.mediationAdmins'|trans} %}
        {% block content %}
            {% include 'partials/avatarList.twig' with {'id': 'mediation-list', 'entries': region.mediationAdmins}%}
        {% endblock %}
    {% endembed %}
{% endif %}

{% if isRegion and region.arbitrationAdmins %}
    {% embed 'components/field.twig' with {'title': 'terminology.arbitrationAdmins'|trans} %}
        {% block content %}
            {% include 'partials/avatarList.twig' with {'id': 'arbitration-list', 'entries': region.arbitrationAdmins}%}
        {% endblock %}
    {% endembed %}
{% endif %}

{% if isRegion and region.fsManagementAdmins %}
    {% embed 'components/field.twig' with {'title': 'terminology.fsManagementAdmins'|trans} %}
        {% block content %}
            {% include 'partials/avatarList.twig' with {'id': 'fsmanagement-list', 'entries': region.fsManagementAdmins}%}
        {% endblock %}
    {% endembed %}
{% endif %}

{% if isRegion and region.prAdmins %}
    {% embed 'components/field.twig' with {'title': 'terminology.prAdmins'|trans} %}
        {% block content %}
            {% include 'partials/avatarList.twig' with {'id': 'pr-list', 'entries': region.prAdmins}%}
        {% endblock %}
    {% endembed %}
{% endif %}

{% if isRegion and region.moderationAdmins %}
    {% embed 'components/field.twig' with {'title': 'terminology.moderationAdmins'|trans} %}
        {% block content %}
            {% include 'partials/avatarList.twig' with {'id': 'stores-list', 'entries': region.moderationAdmins}%}
        {% endblock %}
    {% endembed %}
{% endif %}



<div id="signout_sure" title="{{ 'are_you_sure'|trans }}">
    {% include 'partials/info.twig' with {'msg': (region.isWorkGroup ? 'group.really_quit_workgroup' : (region.isHomeDistrict ? 'group.quitting_home_district_warning': 'group.really_quit_district')) |trans({'%name%': region.name})} %}
    <input type="hidden" name="bid" class="bid" value="{{ region.id }}" />
</div>

{{ sidenav.menu_tree({'items': {'href': '#signout', 'name': (region.isWorkGroup ? 'group.quit_name_workgroup' : 'group.quit_name_district')|trans({'%name%': region.name}) }}, 'group.quit'|trans) }}
