<div class="pure-u-1 pure-u-md-24-24">
	<div class="inside">
		<div class="field">
			<div class="head ui-widget-header ui-corner-top">Passwort zurücksetzen</div>
			<div class="ui-widget ui-widget-content corner-bottom margin-bottom ui-padding">
				<div class="msg-inside info">
					<i class="fa fa-info-circle"></i> Bitte trage hier Deine E-Mail-Adresse ein, mit welcher Du auf foodsharing.de angemeldet bist!
				</div>
				<form name="passReset" method="post" class="contact-form" action="{{ action }}">
					<div class="input-wrapper" id="email-wrapper">
						<label class="wrapper-label ui-widget" for="email">{{ email }}</label>
						<div class="element-wrapper">
							<input class="input text value" type="email" name="email" id="email" value="" required>
						</div>
						<input type="hidden" id="email-error-msg" value="">
						<div style="clear:both;"></div>
					</div>
					<div class="input-wrapper">
						<p>
							<input class="button" type="submit" value="Senden">
						</p>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>