body.fp-viewing-festival #topbar .navbar {
  box-shadow: none;
}

#campaign {
  padding: 41px 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}

#campaigntext, #campaignimg {
  height: 80%;
  width: 50%;
  display: flex;
  align-items: center;
}

#campaigntext {
  text-align: center;
  font-size: 12px;
  font-size: 2.5vh;
  color: #f9f5e0;
  text-shadow: 0 1px #555;
  -webkit-text-size-adjust: none;
}

#campaigntext h2 {
  font-family: "Alfa Slab One", Arial;
  font-size: 2.6em;
  font-weight: normal;
  padding:2vh;
}

#campaigntext h4 {
  font-family: "Alfa Slab One", Arial;
  font-size: 1.3em;
  font-weight: normal;
}

#campaigntext div img {
  width: 50px;
  width: 8.5vh;
  margin: 0 auto;
}

#campaigntext h3 {
  font-family: "Alfa Slab One", Arial;
  font-size: 2em;
  font-weight: normal;
}

#campaigntext span {
  color: #64ae24;
}

#campaignimg {
  background: no-repeat 50%;
  background-size: auto 85%;
}

@media (max-aspect-ratio: 3/2) {
  #campaigntext {
    font-size: 1.5vw;
  }
}

@media (max-aspect-ratio: 9/10) {
  #campaign {
    padding: 73px 0;
    flex-wrap: wrap;
    height: calc(100vh - 73px);
  }

  #campaigntext, #campaignimg {
    width: 100%;
  }

  #campaignimg {
    height: 50%;
  }

  #campaigntext {
    font-size: 1.9vw;
    padding-top: 0.5vh;
    height: 20%;
  }
}

.carpetroll {
  color: #533a20;
  padding: 41px 0;
  max-width:1000px;
  margin:0 auto;
}

.carpetroll p {
  margin: 1rem 2rem 0 2rem;
}

.carpetroll h3 {
  color: #64ae24;
  font-size: 24px;
  font-weight: normal;
  font-family: "Alfa Slab One", Arial;
  letter-spacing: 0.4px;
  border-bottom: 4px solid #64ae24;
  box-sizing: content-box;
  padding-bottom: 0.3rem;
  margin: 1rem 2rem 2rem 1rem;
  display: inline-block;
  text-align: left;
}

.carpetroll .button {
  font-size: 150%;
  font-family: "Alfa Slab One", Arial;
  font-weight: normal !important;
}

.carpetroll .whatiswhaticons {
  background-color: #64ae24;
  color: white;
  padding: 0.2em;
  font-size: 500%;
  width: 1.1em;
  height: 1.1em;
  text-align: center;
  border-radius: 50%;
  display: block;
  margin: 0.5em auto 0.2em;
}

.carpetroll span.iconlegend {
  display: block;
  text-align: center;
  width: 100%;
  font-family: "Alfa Slab One", Arial;
  font-size: 120%;
}

.carpetroll .clickable:hover {
  cursor: pointer;
  opacity: 0.8;
}

.section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.section--dark-brown {
  background-color: rgb(83, 58, 32);
}

.section--beige {
    background-color: rgb(241, 231, 201);
}

.section--light-beige {
  background-color: rgb(249, 245, 224);
}